.options-list {

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__itens{
        background-color: #ffff;
        border: none;
        box-sizing: border-box;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
        padding: 16px 12px;
        width: 100%;
    }
}

